@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Roboto:wght@300;500&display=swap');


*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family:'Roboto', sans-serif;
  display: grid;
  background-color: #e7e7e7;
  grid-template-areas: 
  "navbar navbar"
  "menu main"
  "footer footer"
  ;
  min-height: 100vh;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 60px 1fr 30px;
}

header{
grid-area: navbar;
background-color: #21a9bb;
display: flex;
justify-content: center;
align-items: center;
color: white;
}

header h1{
font-size: 46px;
font-family: 'Nerko One', cursive;
}

aside{
grid-area: menu;
background-color: #e7e7e7;
padding: 20px 0 0 25px;
}

aside .categorias{
  margin-top: 7px;

}

aside .categoria span{
  color: gray;
}

main{
grid-area: main;
display: grid; 
grid-template-columns: repeat(3, 1fr);
gap: 10px 20px;
padding: 10px;
}

main .producto{
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: solid 3px #12527e;
border-radius: 15%;
}

main .producto img{
  max-width: 60%;
  height: 50%;
  margin-top: 5%;
}

.imagen, .imagen-gargola{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-gargola{
  width: 90%;
}

main .producto h3, main .producto p {
  text-align: center;
}

main .producto button{
  width: 100%;
  padding: 6px;
  background-color: #1f828f;
  color: white;
  font-size: small;
  font-family: 'Roboto', Verdana,  Tahoma, sans-serif;
  width: 300px;
  display: flex;
  justify-content: center;
  height: small;
  margin-bottom: 3%;
  border-radius: 40%;
}

.categoria{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
grid-area:  footer;
background-color: #0d5f69;
text-align: center;
padding: 9px;
color: white;
font-family: cursive;

}

