* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.contenedor_principal {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.contactos {
    background-color: red;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
}

.contactos_estado_usuario {
    flex: 0 0 7.5%;
    background-color: #fff;
    
}

.contactos_nuevo_chat {
    flex: 0 0 17.5%;
    background-color: #fff; 
    border:solid 1px #E8EBE4;
}

.contactos_contactos {
    flex: 1 0 0;
    background-color: #fff;
    border:solid 1px #E8EBE4;
    flex-direction: column;
}

.border{
    border:solid 1px #E8EBE4;
}

.principal {
    background-color: #E8EBE4;
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal_cuerpo {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal_texto {
    margin-top: 1rem;
    text-align: center;
}

.principal_texto h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}

.principal_texto p {
    font-family: 'Open Sans', sans-serif;
    padding: 0 1.5rem;
}

.foto_perfil{
    border-radius: 50%;
    height: 33px;
}



.principal_logo img {
    width: 250px;
}